<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="DefaultProjectName" value="My-Project"/>
    <add key="DefaultProjectLocation" value="c:\Temp2\"/>
    <add key="DefaultProjectTemplate" value="Default Class Library"/>
    <add key="StashRepoUrl" value="INSERT STASH REPO URL HERE"/>
    <add key="StashPublishUrl" value="INSERT STASH PUBLISH URL HERE"/>
    <add key="DefaultStashProjectKey" value="INSTERT STASH DEFAULT STASH PROJECT KEY HERE"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
    <targets async="true">
      <target name="default" xsi:type="File" fileName=".\Log\GroundRunningLog.txt" keepFileOpen="false" layout="${longdate}|${level}|${callsite}|${message}|${exception:format=tostring}"/>
    </targets>
    <rules>
      <logger name="*" writeTo="default" minlevel="Info" />
    </rules>
  </nlog>
</configuration>